<!DOCTYPE HTML>
<html ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <script type="application/javascript" src="angular.js"></script>
  <script type="application/javascript" src="app.js"></script>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>

<div ng-controller="TaskCtrl">
  <h1>My tasks</h1>
  <p>
  New task: <input type="text" ng-model="newTaskName"> <a href ng-click="addTask()">add</a>
  </p>

  <p>
  Hide completed tasks? <input type="checkbox" ng-model="hideCompleted">
  </p>

  <p>
    Search tasks: <input type="text" ng-model="filterText"> <a href ng-click="filterText = ''">clear</a>
  </p>

  <ul>
    <li ng-repeat="t in taskList | filter:{name: filterText}" ng-hide="hideCompleted && t.completed">
      <input type="checkbox" ng-model="t.completed">
      <span ng-class="{completed: t.completed}">{{ t.name }}</span> - <a href ng-click="removeTask($index)">remove</a>
    </li>
  </ul>

</div>

</body>
</html>