<!DOCTYPE HTML>
<html ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <script type="application/javascript" src="angular.js"></script>
  <script type="application/javascript" src="app.js"></script>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>

<div ng-controller="TaskCtrl">
  <h1>My tasks</h1>
  New task: <input type="text" ng-model="newTaskName"> <a href ng-click="addTask()">add</a>
  <ul>
    <li ng-repeat="t in taskList" ng-class="{completed: t.completed}">
      <input type="checkbox" ng-model="t.completed">
      {{ t.name }}
    </li>
  </ul>

</div>

</body>
</html>